{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
  <div class="form-group col-md-8">
    <div class="modal-content">
      <div class="modal-body">
        <form class="" action="/procesarActualizacionMesas/"  enctype="multipart/form-data" method="post" id="frm_nuevo_mesas" >
          {% csrf_token %}
          <input type="hidden" name="id_mesa"  value="{{mesas.id_mesa}}">
          <div class="row">
            <div class="form-group col-md-6">
              <b><i class="fas fa-table"></i> Numero Mesa:</b>
              <input type="text" name="numero_mes" id="numero_mes" oninput="" placeholder="Ingrese el numero de mesa" value="{{mesas.numero_mes}}"class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <b><i class="fas fa-users"></i> Capacida Usuarios:</b>
              <input type="number" name="capacidad_mes" id="capacidad_mes" oninput="soloNumeros(this)" placeholder="Ingrese el apellido del cliente"value="{{mesas.capacidad_mes}}" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <b><i class="fas fa-info-circle"></i> Estado:</b>
              <select name="estado_mes" id="estado_mes" class="form-control" required>
                <option value="Libre" {% if mesa.estado_mes == "Libre" %}selected{% endif %}>Libre</option>
                <option value="Ocupada" {% if mesa.estado_mes == "Ocupada" %}selected{% endif %}>Ocupada</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="button" class="btn btn-warning">
              &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'listadoMesas' %}" class="btn btn-danger">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="card card-profile card-secondary">
      <div class="card-header" style="background-image: url('../assets/img/blogpost.jpg')">
        <div class="profile-picture">
          <div class="avatar avatar-xl">
            <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="user-profile text-center">
          <div class="name">Hizrian, 19</div>
          <div class="job">Frontend Developer</div>
          <div class="desc">A man who hates loneliness</div>
          <div class="social-media">
            <a class="btn btn-info btn-twitter btn-sm btn-link" href="#">
              <span class="btn-label just-icon"><i class="flaticon-twitter"></i></span>
            </a>
            <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#">
              <span class="btn-label just-icon"><i class="flaticon-google-plus"></i></span>
            </a>
            <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#">
              <span class="btn-label just-icon"><i class="flaticon-facebook"></i></span>
            </a>
            <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#">
              <span class="btn-label just-icon"><i class="flaticon-dribbble"></i></span>
            </a>
          </div>
          <div class="view-profile">
            <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row user-stats text-center">
          <div class="col">
            <div class="number">125</div>
            <div class="title">Post</div>
          </div>
          <div class="col">
            <div class="number">25K</div>
            <div class="title">Followers</div>
          </div>
          <div class="col">
            <div class="number">134</div>
            <div class="title">Following</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#frm_nuevo_mesas").validate({
      rules: {
        "numero_mes": {
          required: true,
          minlength: 1,
          maxlength: 10
        },
        "capacidad_mes": {
          required: true,
          minlength: 1,
          maxlength: 3
        },
        "estado_mes": {
          required: true
        }
      },
      messages: {
        "numero_mes": {
          required: "Debe ingresar el número de mesa",
          minlength: "El número de mesa debe tener al menos 1 carácter",
          maxlength: "El número de mesa no puede tener más de 10 caracteres"
        },
        "capacidad_mes": {
          required: "Debe ingresar la capacidad de la mesa",
          minlength: "La capacidad debe tener al menos 1 carácter",
          maxlength: "La capacidad no puede tener más de 3 caracteres"
        },
        "estado_mes": {
          required: "Por favor seleccione el estado de la mesa"
        }
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
</script>
<script type="text/javascript">
    function soloNumeros(input) {
        // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
        input.value = input.value.replace(/\D/g, '');
    }

    function soloLetras(input) {
        // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
        input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
    }
</script>
{% endblock %}
