{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
  <div class="form-group col-md-8">
    <div class="modal-content">
      <div class="modal-body">
        <form class="" action="/procesarActualizacionClientes/"  enctype="multipart/form-data" method="post" id="frm_nuevo_cliente" >
          {% csrf_token %}
          <input type="hidden" name="cliente_id"  value="{{clientes.cliente_id}}">
          <div class="row">
              <div class="form-group col-md-6">
                <label for="nombre_cli"><i class="fas fa-user"></i> <b>Nombre:</b></label>
                <input type="text" name="nombre_cli" id="nombre_cli" oninput="soloLetras(this)" value="{{ clientes.nombre_cli }}" placeholder="Ingrese el nombre del cliente" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label for="apellido_cli"><i class="fas fa-user"></i> <b>Apellido:</b></label>
                <input type="text" name="apellido_cli" id="apellido_cli" oninput="soloLetras(this)" value="{{ clientes.apellido_cli }}" placeholder="Ingrese el apellido del cliente" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label for="email_cli"><i class="fas fa-envelope"></i> <b>Email:</b></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-at"></i></span>
                </div>
                <input type="email" name="email_cli" id="email_cli" oninput="validarCorreo(this)" value="{{ clientes.email_cli }}" placeholder="ejemplo@correo.com" class="form-control" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="telefono_cli"><i class="fas fa-phone"></i> <b>Teléfono:</b></label>
                <input type="tel" name="telefono_cli" id="telefono_cli" oninput="soloNumeros(this)" value="{{ clientes.telefono_cli }}" placeholder="Ingrese el número" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label for="cedula_cli"><i class="fas fa-id-card"></i> <b>Cédula:</b></label>
                <input type="number" name="cedula_cli" id="cedula_cli" oninput="soloNumeros(this)" value="{{ clientes.cedula_cli }}" placeholder="Ingrese el número" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label for="fecha_Reguistro_cli"><i class="fas fa-calendar-alt"></i> <b>Fecha de Registro:</b></label>
              <input type="date" name="fecha_Reguistro_cli" id="fecha_Reguistro_cli" value="{{ clientes.fecha_Reguistro_cli|date:'Y-m-d' }}" class="form-control" required>
            </div>
          <div class="modal-footer">
            <button type="submit" name="button" class="btn btn-warning">
              &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'listadoClientes' %}" class="btn btn-danger">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="card card-profile card-secondary">
          <div class="card-header" style="background-image: url('{% static 'assets/img/blogpost.jpg' %}');">
									<div class="profile-picture">
										<div class="avatar avatar-xl">
											<img src="{% static 'assets/img/profile.jpg' %}" alt="Profile Image" class="avatar-img rounded-circle">
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="user-profile text-center">
                    <div class="name">
                        <span>{{ clientes.nombre_cli }}</span>
                    </div>
										<div class="job">Cliente de La Casita del Sabor 🍽️🏠</div>
                    <div class="">
                        <span>{{ clientes.email_cli }}</span>
                    </div>
                    <div class="job">
                        <p>"En esta sección, editarás los datos de  <span><strong>{{ clientes.nombre_cli }} {{ clientes.apellido_cli}}</strong></span>. Por favor, asegúrate de ingresar la información correcta."</p>
                    </div>
									</div>
								</div>
							</div>

            </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function () {
          $("#frm_nuevo_cliente").validate({
              rules: {
                  "nombre_cli": {
                      required: true,
                      minlength: 3,
                      maxlength: 50

                  },
                  "apellido_cli": {
                      required: true,
                      minlength: 3,
                      maxlength: 50

                  },
                  "email_cli": {
                      required: true,
                      email: true
                  },
                  "telefono_cli": {
                      required: true,
                      digits: true,
                      minlength: 7,
                      maxlength: 15
                  },
                  "cedula_cli": {
                      required: true,
                      digits: true,
                      minlength: 7,
                      maxlength: 10
                  },
                  "fecha_Reguistro_cli": {
                      required: true,
                      dateISO: true
                  }
              },
              messages: {
                  "nombre_cli": {
                      required: "Debe ingresar el nombre del cliente",
                      minlength: "El nombre debe tener al menos 3 caracteres",
                      maxlength: "El nombre no puede tener más de 50 caracteres"
                  },
                  "apellido_cli": {
                      required: "Debe ingresar el apellido del cliente",
                      minlength: "El apellido debe tener al menos 3 caracteres",
                      maxlength: "El apellido no puede tener más de 50 caracteres"
                  },
                  "email_cli": {
                      required: "Debe ingresar el correo electrónico del cliente",
                      email: "Por favor, ingrese un correo electrónico válido"
                  },
                  "telefono_cli": {
                      required: "Debe ingresar el teléfono del cliente",
                      digits: "Por favor, ingrese solo números",
                      minlength: "El teléfono debe tener al menos 7 dígitos",
                      maxlength: "El teléfono no puede tener más de 15 dígitos"
                  },
                  "cedula_cli": {
                      required: "Debe ingresar la cédula del cliente",
                      digits: "Por favor, ingrese solo números",
                      minlength: "La cédula debe tener al menos 7 dígitos",
                      maxlength: "La cédula no puede tener más de 10 dígitos"
                  },
                  "fecha_Reguistro_cli": {
                      required: "Debe ingresar la fecha de registro del cliente",
                      dateISO: "Por favor, ingrese una fecha válida (ISO)"
                  }
              },
              submitHandler: function (form) {
                  form.submit();
              }
          });
      });
  </script>
  <script type="text/javascript">
      function soloNumeros(input) {
          // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
          input.value = input.value.replace(/\D/g, '');
      }

      function soloLetras(input) {
          // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
          input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
      }
  </script>
{% endblock %}
