{% extends "./plantilla.html" %}

{% block contenido %}
{% load static %}
<div class="row">
  <div class="form-group col-md-8">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/procesarActualizacionPromociones/" enctype="multipart/form-data" method="post" id="frm_nuevo_promociones">
          {% csrf_token %}
          <input type="hidden" name="promociones_id" value="{{ promociones.promociones_id }}">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label for="menu_id_menu"><b><i class="fas fa-utensils"></i> MENÚS:</b></label>
                <br>
                <br>
                <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="menu_id_menu" id="menu_id_menu" required data-live-search-placeholder="Buscar proveedor...">
                  <option value="">Seleccione El Menú</option>
                  {% for menu in menus %}
                    <option value="{{ menu.menu_id }}">{{ menu.categoria_menu }}</option>
                  {% endfor %}
                </select>
                <script type="text/javascript">
                    document.getElementById("menu_id_menu").value="{{promociones.menu.menu_id}}";
                  </script>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fecha_inicio_pro"><i class="fas fa-calendar-alt"></i> Fecha Inicio</label>
                  <input type="date" class="form-control" id="fecha_inicio_pro" name="fecha_inicio_pro" value="{{ promociones.fecha_inicio_pro|date:'Y-m-d' }}"placeholder="fecha_inicio_pro">
                </div>
              </div>
              </div>
              <div class="form-group">
                <label for="descripcion_pro"><i class="fas fa-align-left"></i> Descripcion</label>
                <textarea class="form-control" id="descripcion_pro" name="descripcion_pro" oninput="soloLetras(this)" placeholder="" rows="3">{{promociones.descripcion_pro}}</textarea>
              </div>
              <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fecha_fin_pro"><i class="fas fa-calendar-check"></i> Fecha Fin</label>
                  <input type="date" class="form-control" id="fecha_fin_pro" name="fecha_fin_pro"value="{{promociones.fecha_fin_pro|date:'Y-m-d'}}" placeholder="fecha_fin_pro">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="descuento_pro"><i class="fas fa-percent"></i> Descuento (%)</label>
                  <input type="number" class="form-control" id="descuento_pro" name="descuento_pro" value="{{promociones.descuento_pro}}" min="0" max="100">
                </div>
              </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="button" class="btn btn-warning">
              &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'listadoPromociones' %}" class="btn btn-danger">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="form-group col-md-4">
    <div class="card card-profile card-secondary">
      <div class="card-header" style="background-image: url('{% static 'assets/img/blogpost.jpg' %}');">
        <div class="profile-picture">
          <div class="avatar avatar-xl">
            <img src="{% static 'assets/img/profile.jpg' %}" alt="Profile Image" class="avatar-img rounded-circle">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="user-profile text-center">
          <div class="name">
            <span>{{ clientes.nombre_cli }}</span>
          </div>
          <div class="job">Cliente de La Casita del Sabor 🍽️🏠</div>
          <div>
            <span>{{ clientes.email_cli }}</span>
          </div>
          <div class="job">
            <p>"En esta sección, editarás los datos de <span><strong>{{ clientes.nombre_cli }} {{ clientes.apellido_cli}}</strong></span>. Por favor, asegúrate de ingresar la información correcta."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
      $("#frm_nuevo_promociones").validate({
          rules: {
              "descripcion_pro": {
                  required: true,
                  minlength: 3,
                  maxlength: 50
              },
              "fecha_inicio_pro": {
                  required: true,
                  dateISO: true
              },
              "fecha_fin_pro": {
                  required: true,
                  dateISO: true
              },
              "disponibilidad_pro": {
                  required: true
              },
              "descuento_pro": {
                  required: true,
                  number: true,
                  min: 0.01,
                  max: 100
              },
              "menu_id_menu": {
                  required: true,

              }

          },
          messages: {
              "descripcion_pro": {
                  required: "Debe ingresar la descripción de la promoción",
                  minlength: "La descripción debe tener al menos 3 caracteres",
                  maxlength: "La descripción no puede tener más de 50 caracteres"
              },
              "fecha_inicio_pro": {
                  required: "Debe ingresar la fecha de inicio de la promoción",
                  dateISO: "Por favor, ingrese una fecha válida (ISO)"
              },
              "fecha_fin_pro": {
                  required: "Debe ingresar la fecha de fin de la promoción",
                  dateISO: "Por favor, ingrese una fecha válida (ISO)"
              },
              "disponibilidad_pro": {
                  required: "Por favor seleccione la disponibilidad de la promoción"
              },
              "descuento_pro": {
                  required: "Debe ingresar el descuento de la promoción",
                  number: "Por favor, ingrese un número válido",
                  min: "El descuento no puede ser menor a 0.01",
                  max: "El descuento no puede ser mayor a 100"
              },
              "menu_id_menu": {
                  required: "Debe seleccionar un Menu",

              }
          }
      });
  });
</script>

<script>
  function soloLetras(input) {
    input.value = input.value.replace(/[^a-zA-Z ]/g, '');
  }

  function soloNumeros(input) {
    input.value = input.value.replace(/[^0-9]/g, '');
  }

  function validarCorreo(input) {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(input.value)) {
      input.setCustomValidity('Ingrese un correo válido.');
    } else {
      input.setCustomValidity('');
    }
  }
</script>

{% endblock %}
