{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Listado Detalles_Ventas</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_detalles_ventas" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CANTIDAD-VENTAS</th>
                                <th>PRECIO UNITARIO</th>
                                <th>FECHA VENTA</th>
                                <th>NOMBRE MENU</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalles %}
                            <tr>
                                <td>{{ detalle.detalle_venta_id }}</td>
                                <td>{{ detalle.cantidad_venta}}</td>
                                <td>{{ detalle.precio_unitario_venta }}</td>
                                <td>{{ detalle.venta.fecha_venta}}</td>
                                <td>{{ detalle.menu.nombre_menu }}</td>
                                <td>
                                  <a href="/editarDetalles_Ventas/{{detalle.detalle_venta_id}}" class="btn btn-warning">
                                      <i class="fas fa-edit"></i>
                                  </a>
                                  <a href="javascript:void(0)" onclick="eliminarDetalles_Ventas('{{detalle.detalle_venta_id}}');" class="btn btn-danger">
                                      <i class="fas fa-trash-alt"></i>
                                  </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar Detalles Ventas
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/guardarDetalles_Ventas/" method="post" enctype="multipart/form-data" id="frm_nuevo_menu">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingresar Detalle de Ventas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="venta_id_venta"><i class="fas fa-calendar-alt"></i> <b>FECHA VENTA:</b></label>
                      <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="venta_id_venta" id="venta_id_venta" required data-live-search-placeholder="Buscar categoría...">
                        <option value="">Seleccione Total Ventas</option>
                        {% for venta in ventas %}
                        <option value="{{ venta.venta_id }}">{{ venta.fecha_venta }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="menu_id_menu"><i class="fas fa-utensils"></i> <b>MENÚS:</b></label>
                      <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="menu_id_menu" id="menu_id_menu" required data-live-search-placeholder="Buscar proveedor...">
                        <option value="">Seleccione El Menú</option>
                        {% for menu in menus %}
                        <option value="{{ menu.menu_id }}">{{ menu.nombre_menu }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="cantidad_venta"><i class="fas fa-shopping-cart"></i> <b>CANTIDAD VENTA:</b></label>
                      <div class="input-group">
                        <input type="number" name="cantidad_venta" id="cantidad_venta" placeholder="Ingrese la Cantidad Venta" oninput="soloNumeros(this)" class="form-control" required>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="precio_unitario_venta"><i class="fas fa-dollar-sign"></i> <b>PRECIO UNITARIO:</b></label>
                      <div class="input-group">
                        <input type="text" name="precio_unitario_venta" id="precio_unitario_venta" oninput="soloNumeros(this)"  placeholder="Ingrese el Precio unitario" class="form-control" required>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_menu").validate({
          rules: {
              venta_id_venta: {
                  required: true
              },
              menu_id_menu: {
                  required: true
              },
              cantidad_venta: {
                  required: true,
                  digits: true,
                  min: 1,
                  max: 1000  
              },
              precio_unitario_venta: {
                  required: true,
                  number: true,
                  min: 0.01,
                  max: 10000
              }
          },
          messages: {
              venta_id_venta: {
                  required: "Seleccione una venta"
              },
              menu_id_menu: {
                  required: "Seleccione un menú"
              },
              cantidad_venta: {
                  required: "Ingrese la cantidad de venta",
                  digits: "Ingrese solo números",
                  min: "La cantidad debe ser mayor a cero",
                  max: "La cantidad no puede ser mayor a 1000"
              },
              precio_unitario_venta: {
                  required: "Ingrese el precio unitario",
                  number: "Ingrese un valor numérico",
                  min: "El precio unitario debe ser mayor a cero",
                  max: "El precio unitario no puede ser mayor a 10000"
              }
          },
          submitHandler: function (form) {
              form.submit();
          }
      });
</script>
<script type="text/javascript">
    function soloNumeros(input) {
        // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
        input.value = input.value.replace(/\D/g, '');
    }

    function soloLetras(input) {
        // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
        input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
    }
</script>
<script>
function eliminarDetalles_Ventas(detalle_venta_id) {
    swal({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        icon: 'warning',
        buttons: {
            cancel: {
                visible: true,
                text: 'No, cancelar',
                className: 'btn btn-secondary'
            },
            confirm: {
                text: 'Sí, eliminarlo',
                className: 'btn btn-danger'
            }
        }
    }).then((willDelete) => {
        if (willDelete) {
            // Corregir la siguiente línea para pasar detalle_venta_id en lugar de cliente_id
            window.location.href = '/eliminarDetalles_Ventas/' + detalle_venta_id;
        } else {
            swal("¡El detalle de venta está seguro!", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                }
            });
        }
    });
}
</script>

  <script type="text/javascript">
   //let table = new DataTable('#tbl_clientes');
    $('#tbl_detalles_ventas').DataTable( {
        dom: 'Bfrtip',
        buttons: [
        {
            extend: 'pdfHtml5',
            messageTop: 'REPORTE DE PARTICIPANTES - DJANGO Y DATATABLES.'
        },
        'print',
        'csv'
      ],
      language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
          }
      });

  </script>

{% endblock %}
